NODE_ENV=development
APP_HOST=0.0.0.0
APP_PORT=3333

RATE_LIMIT_MAX=100
RATE_LIMIT_TIME_WINDOW=1 minute

JWT_ACCESS_SECRET=trocar-este-secret
JWT_ACCESS_EXPIRES_IN=15m

DATABASE_URL="file:./dev.db"

SEED_ADMIN_NAME=Administrador Local
SEED_ADMIN_EMAIL=admin@local.test
SEED_ADMIN_PASSWORD=TroqueEssaSenha123!
SEED_ADMIN_ROLE=admin
