NODE_ENV=development
APP_HOST=0.0.0.0
APP_PORT=3333

RATE_LIMIT_MAX=100
RATE_LIMIT_TIME_WINDOW=1 minute

JWT_ACCESS_SECRET=trocar-este-secret
JWT_ACCESS_EXPIRES_IN=15m

DATABASE_URL="file:./dev.db"

SEED_ADMIN_NAME=Administrador Local
SEED_ADMIN_EMAIL=admin@local.test
SEED_ADMIN_PASSWORD=TroqueEssaSenha123!
SEED_ADMIN_ROLE=admin

# Backup por e-mail (opcional)
BACKUP_EMAIL_HOST=smtp.gmail.com
BACKUP_EMAIL_PORT=587
BACKUP_EMAIL_USER=seuemail@gmail.com
BACKUP_EMAIL_PASS=sua-senha-de-app-gmail
BACKUP_EMAIL_FROM=Contratos Seven <seuemail@gmail.com>
